<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="T4MVC" version="2.6.44" />
  <package id="SqlServerCompact" version="4.0.8482.1" />
  <package id="ErikEJ.SqlCeMembership" version="2.0.0.4" />
  <package id="EFCodeFirst" version="0.8" />
  <package id="WebActivator" version="1.0.0.0" />
  <package id="EFCodeFirst.SqlServerCompact" version="0.8.8482.1" />
</packages>