<div id="messages">
    <div id="notice" class="alert_success">@ViewBag.MensagemSucesso</div>
    <div id="notice" class="alert">@ViewBag.MensagemAlerta</div>
    <div id="notice" class="error">@ViewBag.MensagemErro</div>
</div>